body {
    margin: 8px;
    padding: 0;
    background-color: rgb(60, 60, 60);
    color: white;
    background: #111;
}

#c {
    display: block;
    position: absolute;
    background-color: black;
    margin: 0 auto;
    width: 1280px;
    height: 720px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

}

#mosaic {
    position: absolute;
    mix-blend-mode: overlay;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

}

canvas {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}